<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="onCollapseToggled()">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
              </button>
            <a href="#" class="navbar-brand">Recipes Book</a>
        </div>
    
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="onWindowResized()">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shopping List</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Manage <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Save data</a></li>
                        <li><a class="dropdown-item" href="#">Fetch data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>